body{
	background-color: #d9d8d8;
	font-family: sans-serif;
	text-align: center;
}


.ins img{
}

/*------------------------
---------  Gallery ------
------------------------*/
.lb_gallery{
	width: 800px;
	margin:auto;
}
.lb_img{
	height: 120px;
	width: 120px;
	margin: 10px;
	border: #fff 3px solid;
}
/*------------------------
---------  /Gallery ------
------------------------*/
